* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #777777;
    background-image: url(../images/background-6.png);


}

h1 {
    padding: 20px;
    padding-top: 20px;
    margin: auto;
    margin-left: 230px;
    font-size: 28px;
    color: white;
    background-color: #4faba5; 
    text-align: center;
    border: 2px teal solid;
    position: relative;
    width: 20%;
    display: inline-block;
    height: 90px;
    top: -3px;

}

h2 {
    font-size: 28px;
    padding: 30px;
    color: #4faba5
}

.aboutMe {
    border:6px outset solid black;
    background-color: white;
    padding-left: 20px;
    margin: 0 auto 0 auto;
    width: 950px;
    padding-top: 20px;
    height: 750px;
    font-size: 20px;
    line-height: 30px;
    /* clear: left; */
}

img {
position: relative ;
float: left;
margin: 20px;
width: 200px;
height: 150px;
}

.headerLinks {
    float: right;
    position: relative;
    left: -250px;
    top: 35px;
    text-align: center;
    line-height: 20px;
    word-spacing: 35px
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid #ccc;
    padding: 0;
}

header {
    border: white solid;
    background-color: white;
    margin-bottom: 40px;
    height: 90px;
}

footer {
    background-color: #666666;
    margin: auto;
    height: 50px;
}

#footerline {
    display: block;
    height: 6px;
    border: 6px solid #4faba5;
    margin: 0 auto;
}

#footer {
    color: white;
    margin: auto;
    width: 100%;
    text-align: center;
}

form {
    border: 6px outset solid black;
    background-color: white;
    padding-left auto;
    margin: 0 auto 0 auto;
    width: 950px;
    padding-top: 20px;
    height: 730px;
    font-size: 20px;
    line-height: 30px;
    box-sizing: border-box
}

.container{
    max-width: 800px;
    height: 600px;
    background: #fff;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 40px;
}
  
.input,.msg .area{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 2px solid #e9eaea;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    height: 30px;
}
  
  
.login .input:last-child{
    margin-right: 0;
}
  
.msg .area{
    height: 200px;
}

.h2 {
      color: #4faba5;
      font-size: 28px;
      padding: 30px;
}

input[type=submit] {
    background-color: #4faba5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4faba5;
}

.hangman{
    float: left;
    margin-left: auto;
    position: relative;
}

.RPG_game {
    float: left;
    position: relative;
    width: 60%;

}

.Trivia_game {
    float: left;
    position: relative;

}

.rutger_info_widget {
    position: relative;;
    float: left;
    width: 60%;
}

.Rock_Paper_Scissors {
    position: relative;
    float: left;

}

.portfolio {
    color: #4faba5;
}

.text {
    position: absolute;
    background-color: #4faba5;
    color: white;
    width: 200px;
    margin-left: 20px;
    margin-top: 125px;
    text-align: center;
}

.text-rps {
    background-color: #4faba5;
    position: absolute;
    color: white;
    margin-left: 20px;
    margin-top: 510px;
    width: 200px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    body {
        width: 80%;
    }
}

#connect {
    clear: left;
	margin: 35px 13% 35px 13%;
	height: 160px;
	top: 16px;
	background: #fff;
	text-align: center;
	position: relative;
}

#connect h3 {
	font-size: 1.7em;
	font-weight: bold;
	padding: 15px 0px 0px 15px;
	color: #898a8a;
}

#connect hr {
	margin-left: 15px;
	margin-right: 15px;
}

#connect img {
	margin: 0px 3px 0px 3px;
    height: 54px;
}
